{{ $when :=  .Get "when"}}
{{ $series :=  .Get "series"}}

{{ if eq $when "upcoming" }}

<div class="events">
    <ul>
        {{ range $.Site.RegularPages.ByParam "startdate" }}
            {{ if or (eq .Type "events") (eq .Type "techtuesday") }}
                {{ if ne $series "all" }}
                    {{ if hasPrefix .Params.series $series}}
                        {{ if eq .Params.start "true"}}
                            {{ if isset .Params "startdate" }}
                                {{ if ge .Params.startdate (now.Format "2006-01-02") }}
                                    <li><a href="{{ .RelPermalink }}">{{ .Params.startdate | dateFormat "Mon 02 Jan 2006"}}{{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate ) }} till {{ .Params.enddate | dateFormat "Mon 2 Jan 2006"}}{{ end }}: {{ .Params.linktitle }}</a></li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ else }}
                    {{ if isset .Params "startdate" }}
                        {{ if ge .Params.startdate (now.Format "2006-01-02") }}
                            <li><a href="{{ .RelPermalink }}">{{ .Params.startdate | dateFormat "Mon 02 Jan 2006"}}{{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate ) }} till {{ .Params.enddate | dateFormat "Mon 2 Jan 2006"}}{{ end }}: {{ .Params.linktitle }}</a></li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>

{{ else if eq $when "past" }}

<div class="events">
    <ul>
        {{ range $.Site.RegularPages.ByParam "startdate" }}
            {{ if or (eq .Type "events") (eq .Type "techtuesday") }}
                {{ if ne $series "all" }}
                    {{ if hasPrefix .Params.series $series}}
                        {{ if eq .Params.start "true"}}
                            {{ if isset .Params "startdate" }}
                                {{ if lt .Params.startdate (now.Format "2006-01-02") }}
                                    <li><a href="{{ .RelPermalink }}">{{ .Params.startdate | dateFormat "Mon 02 Jan 2006"}}{{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate ) }} till {{ .Params.enddate | dateFormat "Mon 2 Jan 2006"}}{{ end }}: {{ .Params.linktitle }}</a></li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ else }}
                    {{ if isset .Params "startdate" }}
                        {{ if lt .Params.startdate (now.Format "2006-01-02") }}
                            <li><a href="{{ .RelPermalink }}">{{ .Params.startdate | dateFormat "Mon 02 Jan 2006"}}{{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate ) }} till {{ .Params.enddate | dateFormat "Mon 2 Jan 2006"}}{{ end }}: {{ .Params.linktitle }}</a></li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>


{{ end }}