{{ partial "top.html" . }}
<p>{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).notfoundmsg }}</p>
<img src="https://http.cat/images/404.jpg" alt="Picture of a cat">
<p><a href="/">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).gotoroot }}</a></p>
{{ partial "bottom.html" . }}
