
{{ $url := .RelPermalink }}
{{ $.Scratch.Add "path" "/" }}
<ul class="breadcrumb">
    <li><a href="/">root</a></li>
    {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
    {{ if ne $element "" }}
    <li> > <a href='{{ $.Scratch.Get "path" }}/'>{{ . }}</a></li>
    {{ $.Scratch.Add "path" "/" }}
    {{ end }}
    {{ end }}
</ul>