<!doctype html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
<div class="page-container container-fluid">
<div class="col-md-3 menu">
    {{ partial "menu.html" . }}
</div>
<div class="col-md-9 content">

